.filter {
    margin-right: 20px;
}

table {
    margin-top: 50px;
    width: 100%;
    
    border-collapse: collapse;

    thead {
        background-color: cornflowerblue;
        th {
            height: 50px;
            cursor: pointer;
        }
    }

    tr {
        height: 50px;

        &:hover {
            background-color: #ccc;
        }
    }
}
