<div>
    <span class="filter">
      <label>Inwestycja:</label>
      <select [(ngModel)]="filters.investment">
        <option *ngFor="let investment of investments" [ngValue]="investment?.value">{{investment?.text}}</option>
      </select>
    </span>

    <span class="filter">
      <label>Powierzchnia: od</label>
      <input type="number" [(ngModel)]="filters.surfaceFrom" />
      <label>do:</label>
      <input type="number" [(ngModel)]="filters.surfaceTo" />
    </span>

    <span class="filter">
        <label>Pokoje</label>
        <input type="number" [(ngModel)]="filters.rooms" />
    </span>

    <span class="filter">
        <label>Piętro</label>
        <input type="number" [(ngModel)]="filters.floor" />
    </span>

    <button type="button" (click)="searchClicked()">Szukaj</button>
</div>

<table>
  <thead>
    <th *ngFor="let column of columns" (click)="columnClicked(column)">
      {{column.text}}
      <span *ngIf="sort.column === column.value">{{sort.direction}}</span>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let offer of filteredOffers">
      <td>{{offer.name}}</td>
      <td>{{offer.nr}}</td>
      <td>{{offer.floor}}</td>
      <td>{{offer.surface}} m2</td>
      <td>{{offer.rooms}}</td>
      <td>
        <app-status [status]="offer.status"></app-status>
      </td>
      <td>{{offer.m2 | number}} zł</td>
      <td>{{offer.price | number}} zł</td>
    </tr>
  </tbody>
</table>